
<div ng-include=" 'js/app/views/partials/nav.html' "></div>

<div class="banner">
    <img src="img/logo.png" width="250"/>
    <h1 class="title">Pomoc</h1>
    <button class="btn btn-danger btn-lg" data-toggle="modal" data-target="#signUpModal">Get Started</button>
</div>

<div class="section">
  <div class="container centered-text">
    <h2 class="pomoc-blue">What is Pomoc?</h2>
    <p>Pomoc is a B2B service that allows vendors to easily integrate live support services into their mobile applications.</p>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="row" style="margin-bottom: 30px">
      <div class="col-md-6 col-sm-6">
        <div class="video_placeholder"> 
          <iframe width="100%" height="281" src="https://www.youtube.com/embed/OAdwVF-d9LM?vq=720p"></iframe>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <h2 class="section-title pomoc-blue">Why Use Pomoc?</h2>
        <p>When users of their mobile applications face a problem, they can activate a button to fire up the Pomoc widget, where they can get support from the vendors’ customer service representatives in real-time, probably through text or voice chat.</p>
        <p>Customer service representatives can use the Pomoc mobile application where they are presented with a dashboard and to answer customer queries in real-time.</p>
        <p>Watch the video to find out more!</p>
      </div>
    </div>
  </div>
</div>    


<div class="section-colored">
  <div class="container">

    <div class="row">
      <div class="col-md-4 col-sm-4">
        <div class="block-icon">
          <i class="fa fa-rocket"></i>
        </div>

        <div class="block-body">
          <h2>Creative design</h2>
          <div class="line-subtitle"></div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dignissim placerat lectus, at ornare sapien tempor eget. Etiam vel vestibulum nisl</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="block-icon">
          <i class="fa fa-users"></i>
        </div>

        <div class="block-body">
          <h2>Built for humans</h2>
          <div class="line-subtitle"></div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dignissim placerat lectus, at ornare sapien tempor eget. Etiam vel vestibulum nisl</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="block-icon">
          <i class="fa fa-cog"></i>
        </div>

        <div class="block-body">
          <h2>Easy customization</h2>
          <div class="line-subtitle"></div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dignissim placerat lectus, at ornare sapien tempor eget. Etiam vel vestibulum nisl</p>
        </div>
      </div>
    </div><!-- /.row -->

  </div><!-- /.container -->

</div><!-- /.section -->
    
<div class="section">
  <div class="container">
    <div class="row centered-text">
      <div class="col-md-12">
        <h2>Use Pomoc today to increase customer satisfaction!</h2>
      </div>
      <div class="col-md-12">
        <a class="btn btn-danger btn-lg" data-toggle="modal" data-target="#signUpModal">Get Started</a>
      </div>
    </div><!-- /.row -->
  </div><!-- /.container -->
</div><!-- /.section-colored -->

<div class="footer-after">
  <div class="container">
    <div class="row">
      <p class="col-md-10">©2014 All rights reserved. Pomoc.</p>
    </div><!-- /.row -->
  </div>
</div>

