<div ng-include=" 'js/app/views/partials/nav.html' "></div>

    <div class="section">

      <div class="container">

        <div class="row" style="margin-bottom: 30px">

          <div class="col-md-3 col-sm-3">
            <div class="well">
            <h4>Admin Controls</h4>
              <ul class="nav nav-stacked nav-pills">
                <li><a>Setup Guide</a></li>
                <li> <a ng-click="goAgent()"> Agents</a></li>
              </ul>
            </div>
          </div>

          <div class="col-md-9 col-sm-9">
            <h1>Set Up Guide</h1>
            <hr/>
            Pomoc installation is extremely simple and will not take longer than 5 mins! </br>
            Refer to the install nav link above. 
            <br/><br/>
            
            <h2 class="section-title">Account info</h2>
            <p>Your API Key is <pre>{{appToken}}</pre></p>
            <p>Your APP Secret Key is <pre> 42JANXLZO021 </pre> </p>
            <hr/>

            <p>Pomoc installation is extremely simple and will not take longer than 5 mins!</p>
            <p>Your API Key is <code>{{appToken}}</code>.</p>
            <p>Your Secret Key is <code>42JANXLZO021</code>/</p>
            <p>Refer to the installation guide <a href="#/install">here</a> to install Pomoc into your application.</p>
          </div>

        </div>
      </div>
    </div>    



  <div class="footer-after">
    <div class="container">
      <div class="row">
        <p class="col-md-10">©2014 All rights reserved. Pomoc.</p>
      </div><!-- /.row -->
    </div>
  </div>
