a {
  cursor: pointer;
}

.navbar {
  background-color: #00b9ff;
  border-color: #0e5069;
}

.navbar-inverse .navbar-nav > li > a:hover, 
.navbar-inverse .navbar-nav > li > a:focus {
  background-color: #0e5069;
}

.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus {
  background-color: #0e5069;
}

.pomoc-blue {
  color: #00b9ff; 
}

.banner {
  background-image: url(../img/background.jpg);
  background-position: center;
  background-size: cover; 
  padding: 50px;
  text-align: center;
}

.title {
  color: #fff;
  font-family: 'pacificoregular', sans-serif;
  font-size: 96px;
  margin-bottom: 30px;
}

.centered-text {
  text-align: center;
}

.install-container img {
  -moz-box-shadow:    0 0 10px #999;
  -webkit-box-shadow: 0 0 10px #999;
  box-shadow:         0 0 10px #999;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}