#!/bin/sh

# Modify the following port number
REDIS_PORT=6379
WEB_PORT=3217

redis-server --port $REDIS_PORT &
npm install
echo "
      ___         ___           ___           ___           ___     
     /\  \       /\  \         /\  \         /\  \         /\__\    
    /::\  \     /::\  \       |::\  \       /::\  \       /:/  /    
   /:/\:\__\   /:/\:\  \      |:|:\  \     /:/\:\  \     /:/  /     
  /:/ /:/  /  /:/  \:\  \   __|:|\:\  \   /:/  \:\  \   /:/  /  ___ 
 /:/_/:/  /  /:/__/ \:\__\ /::::|_\:\__\ /:/__/ \:\__\ /:/__/  /\__\\
 \:\/:/  /   \:\  \ /:/  / \:\~~\  \/__/ \:\  \ /:/  / \:\  \ /:/  /
  \::/__/     \:\  /:/  /   \:\  \        \:\  /:/  /   \:\  /:/  / 
   \:\  \      \:\/:/  /     \:\  \        \:\/:/  /     \:\/:/  /  
    \:\__\      \::/  /       \:\__\        \::/  /       \::/  /   
     \/__/       \/__/         \/__/         \/__/         \/__/    
"

PORT=$WEB_PORT nodemon app.js
trap "kill 0" SIGINT SIGTERM EXIT
